# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Problems/A simple calculator/out/
/Problems/A simple calculator/out/production/classes/
/Problems/Adding values/out/
/Problems/Adding values/out/production/classes/
/Problems/Avoid division by zero/out/
/Problems/Avoid division by zero/out/production/classes/
/Problems/Concat all strings without digits/out/
/Problems/Concat all strings without digits/out/production/classes/
/Problems/Decompose a math function/out/
/Problems/Decompose a math function/out/production/classes/
/Problems/Direction/out/
/Problems/Direction/out/production/classes/
/Problems/Distance/out/
/Problems/Distance/out/production/classes/
/Problems/Find X/out/
/Problems/Find X/out/production/classes/
/Problems/Fix compile-time errors/out/
/Problems/Fix compile-time errors/out/production/classes/
/Problems/Fix the program/out/
/Problems/Fix the program/out/production/classes/
/Problems/Floor-space of the room/out/
/Problems/Floor-space of the room/out/production/classes/
/Problems/From string to a number/out/
/Problems/From string to a number/out/production/classes/
/Problems/Get first and last elements/out/
/Problems/Get first and last elements/out/production/classes/
/Problems/Heron's formula/out/
/Problems/Heron's formula/out/production/classes/
/Problems/Inverse boolean flags/out/
/Problems/Inverse boolean flags/out/production/classes/
/Problems/Pow/out/
/Problems/Pow/out/production/classes/
/Problems/Print the age/out/
/Problems/Print the age/out/production/classes/
/Problems/Quadratic equation/out/
/Problems/Quadratic equation/out/production/classes/
/Problems/Test learners/out/
/Problems/Test learners/out/production/classes/
/Problems/The angle between vectors/out/
/Problems/The angle between vectors/out/production/classes/
/Problems/The English alphabet/out/
/Problems/The English alphabet/out/production/classes/
/Problems/What's wrong?/out/
/Problems/What's wrong?/out/production/classes/